### Kotlin template
# Compiled class file
*.class

# idea folder
.idea/

# images
images/
# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# idea iml files
*.iml

# builded files
./out/

# meta

./src/META-INF